{% extends "base_generic.html" %}
{% block content %}
  <h1>Entity:
    {{ entity.name }}</h1>

  <div style="margin-left: 20px; margin-top: 20px">
    <h4>Events</h4>

    {% for event in events %}
      <hr/>
      <p>
        <strong>Event:</strong>
        <p>{{event.name}}</p>
      </p>
      <p>
        <strong>Date:</strong>
        {{ event.date }}</p>

      <p>
        <strong>Category:</strong>
        {{event.category}}
      </p>

      <p class="text-muted">
        <strong>Id:</strong>
        {{ event.id }}</p>
    {% endfor %}
  </div>
{% endblock %}
