{% extends "base_generic.html" %}
{%block title%}
  <title>All Reminders</title>
  {%endblock%}
  {% block content %}
    <h1>Reminder Home</h1>
    <p>
      Welcome to Reminders, a website developed by
      <em>Justin Lee</em>!
    </p>
    <h2>Dynamic content</h2>
    <p>The reminders has the following record counts:</p>
    <ul>
      <li>
        <strong>Events:</strong>
        {{ num_events }}</li>
      <li>
        <strong>Birthday Events:</strong>
        {{ num_birthday_events }}</li>
      <li>
        <strong>Instances:</strong>
        {{ num_instances }}</li>
      <li>
        <strong>Instances available:</strong>
        {{ num_instances_available }}</li>
      <li>
        <strong>Entities:</strong>
        {{ num_entities }}</li>
    </ul>
    <p>
      You have visited this page
      {{ num_visits }}
      time{{ num_visits|pluralize }}.
    </p>
  {% endblock %}
