{% extends "base_generic.html" %}
{% block content %}
  <h1>Event List</h1>
  {% if event_list %}
    <ul>
      {% for event in event_list %}
        <li>
          <a href="{{ event.get_absolute_url }}">{{ event.name }}</a>
          ({% for entity in event.entities.all %}
            {% if forloop.last %}
              {{entity.name}}
            {% else %}
              {{entity.name}},
            {% endif %}
            {%endfor%})
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>There are no events in reminders.</p>
    {% endif %}
  {% endblock %}
